#nav-bar{
    position: fixed;    
    background-color: #00a087;
    line-height: 80px;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    float: right;
    width: 100%;
  }

#nav-bar .logo{
    height: 80px;
    width: 80px;
    float: left;
}

#nav-bar .header{
    float: left;
    font-size: 200%;
    line-height: 2.5em;
}
#nav-bar [type=button]{
    float: right;
    font-size: 12px;
    width: 15em;  
    height: 5em;
    border-radius: 12em;
    margin: 2em;
    cursor: pointer;
    opacity: 0.8;
}

#nav-bar [type=button]:hover{
    opacity: 1;
  }