.container {
    background-color: white;
    max-width: 100em;
    min-height: 100em;
    padding-left: 2em;
    padding-right: 2em; 
    padding-top: 2em;    
  }

 .new-tweet{
   display: none;
    background: #D3D3D3;
    border-radius: 25px;
    max-width: 28em;
    min-height: 12em;
    padding-left: 1em;
    padding-right: 1em;
 }

 .new-tweet h2{
    font-size: 2em;
    padding-top: 0.5em;
    margin-top:0;
    border-bottom: 2px solid black;
  }

  textarea[name=text]{
    min-height: 4em;
    min-width: 100%;
  } 

.counter{
    color: black;
    float: right;

}

.error {
  color: red;
  font-weight: bold;
}

.hide{
  visibility: hidden;
}

.unhide {
  visibility: visible;
}

.onhover{
  background-color: yellow;
}

input[type=submit] {
    width: 6em;  height: 3em;
}

#tweetErr {
  padding: 1em;
}

/* Exsting Tweets CSS*/

.existing-tweet{
  /* article class*/
  margin-top: 2em;
  min-height: 10em;
  background: #D3D3D3;
  border-radius: 25px;
  border: 3px solid darkgray;
  background-clip: padding-box;
  opacity: 0.6;
}

.existing-tweet:hover{
  opacity: 1;
}

#headerNames{
  padding: 0.5em;
  display: flex;
}

.existing-tweet h2{
  margin:0;
  height: 3em;
  padding-top: 0.5em;
  display: inline;
}

.existing-tweet .handle {
 margin-left: auto;
 padding-top: 1em;
 padding-right: 1em;
}

.existing-tweet p{  
  padding-left: 2em;
  padding-top: 1em;
  background: white;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 6em;
  min-width: 100%;
}


.existing-tweet img{
  height: 60px;
  width: 60px;
  border-top-left-radius: 21px;
  float: left;
}

.existing-tweet footer{
  width: 100%;
  min-height: 2em;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 0.5em;
  padding-left: 2em;
  background: white;
  border-top: 2px solid gray;
}